<template>
    <div>
        <div class="row top-margin">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="col-sm-12">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" v-model="url" placeholder="URL..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" @click="Shorten" type="button">
                                Shorten!
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 p20" v-show="short_url">
					<div class="input-group">
                        <input type="text" class="form-control" id="short_url" v-model="short_url"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default copy" data-clipboard-target="#short_url" type="button">
                                Copy
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    module.exports = {
    	data () {
    		return {
    			url: '',
    			short_url: ''
    		}
    	},

    	methods : {
    		Shorten : function () {
    			console.log(this.url);
    			axios.post(window.location.href, {url: this.url}).then(response => {
    				if(response.data.status == 'valid'){
    					this.short_url = site+'/'+response.data.url_code;
    				}
    			});
    		}
    	}
    }
    </script>
