
// Fonts
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.top-margin{
	margin-top: 150px;
}
.p20{
	padding: 20px;
}